@model ProcessChanger.Models.EditUserModel
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)

    <div class="form-group">
        @Html.LabelFor(x => x.FullName, "Imie")
        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FullName)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email, "Email")
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Department, "Departmenmt")
        @Html.EnumDropDownListFor(x => x.Department, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Department)
    </div>



    <div class="form-group">
        @Html.LabelFor(x => x.IsActive, "Czy aktywny?")
        @Html.CheckBoxFor(x => x.IsActive)
    </div>






    <input type="submit" class="btn btn-primary" />
    <input type="reset" class="btn btn-default" />
}